.padd {
  background-color: white;
  margin-top: 10%;
  border-radius: 10px;
  width: 60%;
  padding: 2em 2em;
}

.back {
  background-image: url("../../../blog-recent-posts-1.jpg");
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.eee {
  padding: 2em 2em;
}
