

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo mr-auto"><a routerLink="" ><em>IT</em><em style="color: #1bbd36">NEXT</em></a></h1>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a routerLink=""  routerLinkActive="active">{{ home }}</a></li>
        <li><a routerLink="/about"  routerLinkActive="active">{{ about }}</a></li>
        <li><a routerLink="/services"  routerLinkActive="active">{{ Servives }}</a></li>
        <li><a routerLink="/pricing"  routerLinkActive="active">{{ Pricing }}</a></li>
        <li><a routerLink="/blog"  routerLinkActive="active">{{ Blog }}</a></li>
        <li><a routerLink="/contact"  routerLinkActive="active">{{ Contact }}</a></li>
        <li><a routerLink="/admin"  routerLinkActive="active">{{ Admin }}</a></li>

      </ul>
    </nav><!-- .nav-menu -->

    <div class="header-social-links" >

      <div [ngClass]="{verdanaFont:true}" [ngStyle]="{'font-size.px':15}">
        {{ myDate | date }}
        <button style="background-color: red; margin-right:3px; height: 3em; width: 6em; border: none; border-radius:4px; ">
          <a routerLink="/login"  routerLinkActive="active" style="color: white; font-size: 1.3em;">{{ Login }}</a></button>
        <button style="background-color: grey; height: 3em; width: 8em; border: none; border-radius:4px; ">
          <a routerLink="/register"  routerLinkActive="active" style="color: white; font-size: 1.3em;">{{ Register }}</a></button>
      </div>
    </div>

  </div>
</header><!-- End Header -->
